body{
    background-color: black;
}
a {
    text-decoration: none;
}
body {
    font-family: 'Raleway', sans-serif;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
#logo{
    text-align: center;
}
.main-header{
    background-color: #04BFAD;
    padding: 5px 0 0 0;
    overflow: auto;
}
h1 {
    color: #0E0F13;
    font-family: 'Candal', sans-serif;
    margin: 15px 0;
    margin-top: 4%;
    font-size: 2.1em;
    margin-left: 5%;
}
h2 {
    color: #0E0F13;
    font-family: 'Candal', sans-serif;
    margin: 15px 0 20px 0;
    font-size: 1.4em;
    margin-left: 14%;
}
#logo{
    float: left;
    width: 45%;
    margin-left: 5%;
    text-align: left;
}
nav {
    float: right;
    width: 45%;
    margin-right: 5%;
    margin-top: 2.6%;
    margin-bottom: 1%;
    background: none;
    text-align: right;
    padding-top: 25px;
}
nav a{
    padding: 0 5px;
    font-weight: bold;
    font-size: 1.1em;
    margin-right: 10px;
}
.main-header{
    border-bottom: 5px solid #027373;
}
nav {
    background-color: #027373;
    text-align: center;
    padding: 10px 0 10px 0;
}
nav a {
    color: #ffffff;
    font-weight: bold;
    padding: 0 2px;
}
nav ul{
    list-style: none;
    margin: 5px 0;
    padding: 0;
}
nav li{
    display: inline-block;
}
nav a:hover{
    color: #0E0F13;
    transition: all 0.3s ease 0s;
}
nav a.selected {
    color: #0E0F13;
}
#titolo{
    color: white;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: sans-serif;
    font-size: 2em;
}
.presentazioni{
    width: 100%;
    background-size: 100%;
    background-color: #04BFAD;
}
.presentazioni ul{
    float: center;
    width: 100%;
    margin-right: 5%;
    margin-top: 5%;
    background: none;
    text-align: right;
    background-color: #027373;
    text-align: center;
    padding: 10px 0 10px 0;
    margin: 5px 0;
}
.presentazioni a{
    padding: 0 5px;
    font-weight: bold;
    font-size: 1.1em;
    color: white;
    font-weight: bold;
    padding: 0 15px;
    border: none;
    border-radius: 50px;
}
.presentazioni li{
    display: inline;
}
.presentazioni a:hover{
    color: black;
    border: 2px solid black;
}
#parteFinale{
    background: #04BFAD;
    padding: 50px 0 30px 0;
    text-align: center;
    font: 1.5em bold arial sans-serif;
    margin-top: 5px;
}
.parteUnoStoria img{
    width: 40%;
    height: auto;
    float: left;
}
.parteUnoStoria p{
    float: right;
    text-align: center;
    font: 1em arial;
    color: #ffffff;
    margin-right: 7%;
    margin-top: 8%; 
}
#spaziatura{
    padding: 50px 0 30px 0;
    margin-top: 24.5%;
}
.parteDueStoria img{
    width: 40%;
    height: auto;
    float: right;
}
.parteDueStoria p{
    float: left;
    text-align: center;
    font: 1em arial;
    color: #ffffff;
    margin-left: 7%;
    margin-top: 8%;
}
.logoFinale{
    padding: 50px 0 0px 0;
    margin-top: 24.5%;
}
.logoFinale img{
    width: 100px;
    margin-left: 45%;
    margin-top: 20px;
}
.logoFinale:hover {
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
}
footer{
    padding: 50px 0 0px 0;
}
footer img{
    width: 100px;
    margin-left: 45%;
    margin-top: 20px;
}
footer:hover {
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
}
.titoloMacchina h1{
    text-align: left;
    margin-top: 3%;
    font: 300 bold Arial Sans-serif;
    color: #ffffff;
}
.testoLivrea img{
    float: right;
    width: 40%;
    margin-top: 3%;
}
.testoLivrea p{
    float: left;
    text-align: center;
    font: 1em helvetica;
    color: #ffffff;
    margin-left: 7%;
    margin-top: 8%; 
}
.titoloMacchina1{
    margin-top: 35%;
}
.titoloMacchina1 h1{
    text-align: left;
    margin-top: 3%;
    font: 300 bold Arial Sans-serif;
    color: #ffffff;
}
.testoLivrea1 img{
    float: left;
    width: 40%;
    margin-top: 3%;
}
.testoLivrea1 p{
    float: right;
    text-align: center;
    font: 1em helvetica;
    color: #ffffff;
    margin-right: 7%;
    margin-top: 8%; 
}
#postTesti{
    margin-top: 30%;
    padding: 30px 0 30px 0;
}
button.home{
    float: right;
    margin-right: 3%;
    margin-top: 10px;
    background-color: #04BFAD;
    padding: 10px 26px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-size: 1.5em Arial;
}
button.home:hover{
    color: #04BFAD;
    background-color: #0E0F13;
    border: 2px solid #027373;
}
.Guida{
    margin-left: 23%;
}
.Guida p{
    text-align: left;
    font: 500 bold Arial Sans-serif;
    font-size: 110%;
    color: #ffffff;
}
.Guida h3{
    text-align: center;
    color: #ffffff;
    font-family: 'Candal', sans-serif;
    font-size: 1.2em;
    margin-top: 3%;
    margin-left: -35%;
    
}
.Guida h2{
    text-align: center;
    color: #ffffff;
    font-family: 'Candal', sans-serif;
    font-size: 1.6em;
    margin-top: 3%;
    margin-left: -35%;
}
.Guida a{
    color:#04BFAD;
}
.Guida a:hover{
    color: #001eff;
    transition: all 0.2s ease-in-out;
    
}